
*{
    margin: 0;
    padding: 0;
}

.div-style{
    height: 40px;
}

.div2-style{
    background-color: rgb(228, 226, 226);
    height: 50px;
    font-size: 23px;
}

footer{
    height: 100px;
    line-height: 100px;
}